$primarycolor:#409EFF;
$successcolor:#67C23A;
$warningcolor:#E6A23C;
$dangercolor:#F56C6C;
$infocolor:#909399;

$fontprimaycolor:#303133;
$fontregularcolor:#606266;
$fontsecondarycolor:#909399;

$borderbasecolor:#DCDFE6;
$borderlightcolor:#E4E7ED;
$borderlightercolor:#EBEEF5;
$borderextralightrcolor:#F2F6FC;

$bgwhitecolor:#FFFFFF;
$bgblackcolor:#000000;
$bgbasecolor:#F5F7FA;